<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>this is home ejs template </h1>
    <h1><%= 1+2 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat praesentium, sequi iste dicta in optio! Rerum
        facere, assumenda quos atque debitis reiciendis, magni veritatis eaque omnis nihil totam id autem.
        Eius et dolore eveniet quis, a sunt sint. Suscipit sit repudiandae accusantium expedita? Sit distinctio eligendi
        cupiditate cumque dolorum architecto facilis dolor tempore nemo. Ipsa laudantium quo dolorem ea quos.
        Deleniti sequi necessitatibus optio, laudantium in harum velit quis nostrum dolore! Accusamus velit sed vel
        deleniti dolores fugiat, id at doloremque rem quibusdam commodi quae eveniet maiores harum dolor ad.
        Voluptate voluptatem, dolore vel eos laudantium voluptatibus a consequuntur, alias, necessitatibus quaerat
        doloremque optio! Laudantium cum modi minima molestiae, quisquam sint commodi. Laborum doloremque vel reiciendis
        distinctio, praesentium quod numquam?
        Dolores doloremque totam reprehenderit consequuntur, architecto ea deserunt asperiores voluptate aperiam.
        Veritatis, dolor. Et, quos nisi! Magnam minima error aliquam minus ipsa mollitia molestiae, vitae expedita quasi
        iste itaque nam!
    </p>
    <button>send</button>
</body>

</html>